.clear {
	clear      : both;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	overflow   : hidden;
	float      : none !important;
	border     : 0 none !important;
	margin     : 0 !important;
	padding    : 0 !important;
}

body {
	background-color : #8a837d;
}

div.main-container {
	margin          : 0 auto;
	padding-top     : 1px;
	direction       : ltr;
	font-family     : Tahoma;
	text-align      : left;
	font-size       : 12px;
	line-height     : 1.2;
	text-decoration : none;
}

header.body {
	margin : 100px auto 0 auto;
}

header.body section.logo {
	float              : left;
	width              : 180px;
	height             : 44px;
	opacity            : 0.3;
	margin-top         : -10px;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;	
}

header.body section.logo img {
	
}

header.body section.logo:hover {
	opacity            : 1;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;
}

header.body nav {
	padding-top : 15px;
	width       : 790px;
	float       : left;
}

header.body nav menu {
	list-style-type : none;
}

header.body nav menu li {
	float              : left;
	padding-bottom     : 2px;
	border-bottom      : 2px solid #2e2c2a;
	margin-left        : 2px;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;
}

header.body nav menu li:first-child {
	margin-left : 0;
}

header.body nav menu li:hover,header.body nav menu li.active {
	border-bottom      : 2px solid #c0c0c0;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;
}

header.body nav menu li a {
	float              : left;
	font-family        : inherit;
	text-align         : left;
	direction          : ltr;
	text-transform     : uppercase;
	color              : #2e2c2a;
	background-color   : #c0c0c0;
	padding            : 1px 72px 0px 1px;
	text-decoration    : inherit;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;
}

header.body nav menu li:hover a,header.body nav menu li.active a {
	color              : #c0c0c0;
	background-color   : #2e2c2a;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;
}

footer {
	margin-top : 400px;
	min-height : 30px;
	padding    : 10px auto;
}

footer h2{
	text-align         : center;
	font-family        : inherit;
	direction          : ltr;
	font-size          : 18px;
	color              : white;
	text-transform     : uppercase;
	letter-spacing     : 2px;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;
}

footer h2:hover {
	color              : #c0c0c0;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;

}

footer p {
	text-align     : center;
	font-family    : inherit;
	direction      : ltr;
	font-size      : inherit;
	color          : #c0c0c0;
	text-transform : capitalize;
	letter-spacing : 2px;
	margin-bottom  : 15px;
}

footer a {
	text-decoration    : none;
	color              : #c0c0c0;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;
}

footer a:hover {
	color              : #fc0;
	-webkit-transition : all 300ms;
	-ms-transition     : all 300ms;
	-o-transition      : all 300ms;
	-moz-transition    : all 300ms;
}

article.content > div {
	background-color : #c0c0c0;
	display          : none;
}
article.content  div.logo ul {
	float      : left;
	width      : 100px;
	min-height : 500px;
	background-color : #555a55;
}

article.content  div.logo ul li {
	width            : 75px;
	height           : 75px;
	background-color : #555a55;
}

article.content  div.logo div#loadplace {
	margin-left     : 100px;
	min-height      : 500px;
	padding-left    : 10px;
	background-color: #666a66;
}

article.content  div.logo ul li:hover {
	background-color:#444c44;
}

























